<!DOCTYPE html>
<html>
	<script type="text/javascript">
	function SearchResults()
	{
		if(textBox.value)
		{
			xhr = new XMLHttpRequest();
			xhr.open("GET",'http://127.0.0.1:5000/search?searchString='+encodeURIComponent(textBox.value), true);
			xhr.send();
			xhr.onreadystatechange=function()
			{
				if (xhr.readyState==4 && xhr.status==200)
				{
					//alert(xhr.responseText);
					PrintResults(JSON.parse(xhr.responseText));
				}
			} 
		}
		else
			alert("Enter search string");
	}

	function PrintResults(results)
	{
		rootDiv = document.getElementById("results");
		rootDiv.innerHTML = '';
		for(var result in results)
		{
			//alert(results[result]);
			aTag = document.createElement("a");
			aTag.setAttribute('href',results[result]);
			aTag.innerHTML = results[result];
			rootDiv.appendChild(aTag);
			rootDiv.appendChild(document.createElement("br"));
			
		}
	}
	</script>
	<body>
		<input type = "text" id="textBox"/>
		<input type = "button" value="Search" onclick = "SearchResults()"/>
		<div id="results"></div>
	</body>
</html>
